{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<h3>Register</h3>
<form method="POST">
    {{ form.hidden_tag() }}

    {{ form.username.label }}<br>
    {{ form.username(class="form-control") }}<br>

    {{ form.email.label }}<br>
    {{ form.email(class="form-control") }}<br>

    {{ form.password.label }}<br>
    {{ form.password(class="form-control") }}<br>

    {{ form.password2.label }}<br>
    {{ form.password2(class="form-control") }}<br>

    {{ form.submit(class="btn btn-success") }}
</form>
{% endblock %}
